body{
	background-color:#232323;
	margin:0;
	font-family: 'Montserrat', sans-serif;

}
.square{
	background-color:purple;
	width:30%;
	float:left;
	padding-bottom: 30%;
	margin:1.66%;
    border-radius:15%;
    transition:background-color .5s;
}
.selected{
	background-color: blue;
}

#container{
	margin:20px auto;
	max-width:520px;
}
h1{
	line-height:1.1;
	padding:20px 0; 
	background-color: steelblue;
	font-weight:normal;
	text-transform:uppercase;
	text-align:center;
	color:white;
	margin:0;
}
#display{
	font-size:180%;
}
#message{
	display:inline-block;
	width:20%;
}
.selected{
	background: steelblue;
	color:white;
}
#stripe{
	background:white;
	height:30px;
	text-align:center;
	color:black;
}

button{
	border:none;
	background:none;
    text-transform:uppercase;
    height:100%;
    font-weight:780;
    color:steelblue;
    letter-spacing: 1px;
    font-size:inherit;
    transition:all .4s;
    outline:none;
}
button:hover{
	background-color:steelblue;
	color:white;
}