<% include ./partials/header %>
<div id="landing-header">
    <a href="/checkin" class="btn btn-default landing check"> Check In</a>
    <a href="/checkout" class="btn btn-default landing check"> Check Out</a>
</div>
<% include ./partials/footer %>